!excalidraw-app/
!package.json
!public/
!src/
!excalidraw-app/
!tsconfig.json
!yarn.lock

# keep (sub)sub directories at the end to exclude from explicit included
# e.g. ./packages/excalidraw/{dist,node_modules}
**/build
**/dist
**/node_modules

!nginx.conf
!index.html
!vite.config.ts
!nginx.conf
